<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinlankeji.khb.iphone"
    android:versionCode="69"
    android:versionName="3.2.7.7" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 接收短信 -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.cinlan.xview.XviewApplication"
        android:installLocation="preferExternal"
        android:largeHeap="true" >
        <activity
            android:name="com.cinlan.xview.ui.ConfActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/xviewstyle_xviewsdk" >
        </activity>
        <activity
            android:name="com.cinlan.xview.ui.ChatActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask" >
        </activity>

        <receiver android:name="com.cinlan.xview.receiver.ForceOfflineReceiver" >
            <intent-filter>
                <action android:name="com.cinlan.xview.broadcast.FORCE_OFFLINE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cinlan.xview.receiver.NetworkBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="com.cinlan.xview.service.JNIService" >
        </service>


        <!--点对点单呼activity-->
        <activity
            android:theme="@style/activity_full_style"
            android:name="com.cinlan.xview.ui.p2p.view.PToPActivity">

        </activity>
    </application>

</manifest>